$primary-color: #233342;
$accent-color: #ba932e;
$bg-color: #fbf6f3;
$text-light-color: #c5c5c5;

$main_color1: #233342;
$main_color2: #ba932e;
$main_color3: #fbf6f3;
$main_color4: #00c8ff;
$main_color5: #e5f2fe;
$main_color6: #b2d8fd;
$main_color7: #4432e0;
$main_color8: #8f959a;
$main_color9: #b5bec8;
