@import "../shared/variables";

.job-card {
	border: none;
	background-color: $bg-color;
	border-radius: 56px;
	padding: 3.75rem 4rem;

	&:hover {
		box-shadow: 0 0 1px 1px $accent-color;
		transition: all 0.3s ease-in-out;
	}

	.card-head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 4rem;
	}

	.job-time {
		color: $primary-color;
		font-size: 14px;
	}

	.card-body {
		position: relative;
		padding: 0;
	}

	.job-title {
		text-transform: uppercase;
		text-align: left;
		font-size: 1.875rem;
		margin-bottom: 2.5rem;
		font-weight: bold;
	}

	.card-tags {
		text-align: left;
		margin-bottom: 4rem;
		line-height: 3.5;
	}

	.job-tag {
		width: fit-content;
		color: $bg-color;
		text-transform: capitalize;
		background-color: $accent-color;
		padding: 0.75rem 1.5rem;
		margin-right: 0.75rem;
		border-radius: 20px;
		white-space: nowrap;
		cursor: pointer;

		&:last-child {
			margin-right: 0;
		}
	}

	.btn-apply {
		all: unset;
		position: absolute;
		bottom: 0;
		left: 30%;
		margin: 0 auto;
		color: $primary-color;
		font-weight: bold;
		font-size: 1.5rem;
		cursor: pointer;

		&::after {
			content: "";
			display: inline-block;
			position: relative;
			top: -5px;
			width: 20px;
			height: 2px;
			background-color: $accent-color;
			margin: 0 10px;
		}

		&:hover::after {
			all: unset;
			content: "\2192";
			color: $accent-color;
			margin: 0 10px;
		}
	}
}
