.job-modal {
	display: flex;

	.job-header {
		display: flex;

		.job-logo {
			margin: 2rem;
		}

		.job-title-time {
			padding: 2rem;
		}

		.job-title {
			font-size: 3rem;
		}
	}

	.job-description {
		padding: 2rem;
	}

	.card-tags {
		padding-left: 2rem;
	}

	.job-application-form {
		padding: 10rem 5rem 5rem;

		textarea {
			margin-top: 1rem;
			width: 100%;
			min-height: 150px;
		}
	}

	.modal-btn {
		text-align: center;

		button {
			box-sizing: border-box;
			width: 100%;
		}
	}
}
